<%- include('../partials/head') %>

<%- include('../partials/navigation') %>

<main>

  <%- include('../partials/flash.ejs') %>
  <%- include('../partials/form-signin.ejs') %>

</main>

<%- include('../partials/end') %>
