<%- include("../partials/head") %>

<%- include("../partials/navigation") %>

<main>

  <h2><%= edit ? `Edit ${ product.name }` : 'Create Product' %></h2>

  <form action=<%= edit ? `/admin/edit-product` : '/admin/create-product' %> method="post">
    <label for="name">Product name</label>
    <input type="text" id="name" name="name" placeholder="Product name" value="<%= edit ? product.name : 'cat' %>"
      autofocus required onfocus="this.select()">

    <label for="description">Product description</label>
    <textarea id="description" name="description" placeholder="Product description" rows="5" required
      onfocus="this.select()"><%= edit ? product.description : 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas quibusdam sequi eaque dolores ut, cupiditate aut doloribus deserunt qui quos voluptate ullam sapiente temporibus cumque a totam, esse delectus eos?' %></textarea>

    <label for="price">Product price</label>
    <input type="text" id="price" name="price" placeholder="€" value="<%= edit ? product.price / 100 : 1 %>" required
      onfocus="this.select()"></input>

    <label for="photoUrl">Photo URL</label>
    <input type="text" id="photoUrl" name="photoUrl" placeholder="Will search unsplash if left empty"
      <%= edit && `value=${ product.photoUrl }` %> onfocus="this.select()">

    <% if (edit) { %><input type="hidden" name="id" value="<%= product._id %>"><% } %>
    <button type="submit"><%= edit ? 'Update product' : 'Create product' %></button>
  </form>

</main>

<%- include("../partials/end") %>
