<%- include('../partials/head') %>

<%- include('../partials/navigation') %>

<main>

  <% if (products.length) { %>

  <h1>All products</h1>

  <% products.forEach(product => { %>

  <article>
    <header>
      <h2><%= product.name %></h2>
    </header>

    <img src="<%= product.photoURL %>" alt="<%= product.name %>" />

    <footer class="container">
      <h3> <%= product.description %> </h3>
      <h4> <%= product.displayPrice %> </h4>

      <a href="/admin/edit-product/<%= product.id %>" role="button">Edit product</a>

      <form action="/admin/delete-product" method="post">
        <input type="hidden" name="id" value="<%= product.id %>">
        <button type="submit">⚠️Delete product⚠️</button>
      </form>

    </footer>

  </article>

  <% }) %><% } else { %>

  <h1>No product found.</h1>

  <% } %>

</main>

<%- include('../partials/end') %>
