<header class="container">
  <nav>
    <ul>
      <li><a href="/"><strong> 🧑‍💻 Node.js Shop</strong></a></li>
    </ul>
    <ul>
      <li>
        <a href="/" class="<%= pageTitle === 'Shop' && 'active' %>">
          Shop
        </a>
      </li>
      <li>
        <a href="/products" class="<%= pageTitle === 'Products' && 'active' %>">
          Products
        </a>
      </li>
      <% if (isSignedIn) { %>
      <li>
        <a href="/cart" class="<%= pageTitle === 'Cart' && 'active' %>">
          Cart
        </a>
      </li>
      <li>
        <a href="/orders" class="<%= pageTitle === 'Orders' && 'active' %>">
          Orders
        </a>
      </li>
      <li>
        <a href="/admin/add-product" class="<%= pageTitle === 'Add Product' && 'active' %>">
          Add Product
        </a>
      </li>
      <li>
        <a href="/admin/products" class="<%= pageTitle === 'Admin Products' && 'active' %>">
          Admin Products
        </a>
      </li>
      <% } %>
    </ul>
    <ul>
      <% if (isSignedIn) { %>
      <li>
        <a href="/signout">Sign out</a>
      </li>
      <% } else { %>
      <li>
        <a href="/signup" class="<%= pageTitle === 'Sign up' && 'active' %>">Sign up</a>
      </li>
      <li>
        <a href="/signin" class="<%= pageTitle === 'Sign in' && 'active' %>">Sign in</a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>

<% if (flashMessage) { %>
<%- include('../partials/flash.ejs') %>
<% } %>
