<header class="container">
  <nav>
    <ul>
      <li><a href="/"><strong> 🧑‍💻 Node.js Shop</strong></a></li>
    </ul>
    <ul>
      <li>
        <a href="/" class="<%= pageTitle === 'Shop' && 'active' %>">
          Shop
        </a>
      </li>
      <li>
        <a href="/products" class="<%= pageTitle === 'Products' && 'active' %>">
          Products
        </a>
      </li>
      <li>
        <a href="/cart" class="<%= pageTitle === 'Cart' && 'active' %>">
          Cart
        </a>
      </li>
      <li>
        <a href="/orders" class="<%= pageTitle === 'Orders' && 'active' %>">
          Orders
        </a>
      </li>
      <li>
        <a href="/admin/create-product" class="<%= pageTitle === 'Create Product' && 'active' %>">
          Create Product
        </a>
      </li>
      <li>
        <a href="/admin/products" class="<%= pageTitle === 'Admin Products' && 'active' %>">
          Admin Products
        </a>
      </li>
    </ul>
  </nav>
</header>
