<article>

  <h2><%= product.name %></h2>

  <img src=" <%= product.photoUrl %> " alt="<%= product.name %>" />

  <h3>
    <% if (pageTitle === 'Cart') { %>
    <%= `${product.cartItem.quantity} x ` %>
    <% } %>
    <%= formatPrice(product.price) %>
  </h3>

  <a href="/products/<%= product.id %>" role="button">Details</a>

  <footer>
    <% if (pageTitle === 'Admin Products') { %>
    <%- include('../partials/form-delete-product.ejs', {product}) %>
    <% } else if (pageTitle === 'Cart') { %>
    <%- include('../partials/form-remove-from-cart.ejs', {product}) %>
    <% } else { %>
    <%- include('../partials/form-add-to-cart.ejs', {product}) %>
    <% } %>
  </footer>

</article>
