<article>
  <% if (pageTitle === 'Orders') { %>
  <h2>Order <a href="/invoice/<%= order._id %>"><%= order._id %></a></h2>
  <% } %>

  <h2><%= product.name %></h2>

  <img src="<%= product.photoUrl %>" alt="<%= product.name %>" />

  <h3>
    <% if (pageTitle === 'Cart' || pageTitle === 'Orders') { %>
    <%= `${ product.quantity } x ` %>
    <% } %>
    <%= formatPrice(product.price) %>
  </h3>

  <p><%= product.description %></p>

  <% if (pageTitle === 'Admin Products') { %>
  <a href="/admin/edit-product/<%= product._id %>" role="button">Edit</a>
  <% } else if (pageTitle !== product.name) { %>
  <a href="/products/<%= product._id %>" role="button">Details</a>
  <% } %>

  <% if (isSignedIn) { %>
  <footer>
    <% if (pageTitle === 'Admin Products') { %>
    <%- include('../partials/form-delete-product.ejs', { product }) %>
    <% } else if (pageTitle === 'Cart') { %>
    <%- include('../partials/form-remove-from-cart.ejs', { product }) %>
    <% } else if (pageTitle === 'Orders') { %>
    <%- include('../partials/form-checkout.ejs', { product }) %>
    <% } else { %>
    <%- include('../partials/form-add-to-cart.ejs', { product }) %>
    <% } %>
  </footer>
  <% } %>

</article>
