<%- include('partials/head') %>

<%- include('partials/header', {path: path}) %>

<main class="container">
  <% if (products.length > 0) { %>
  <h1>All products</h1>
  <% products.forEach(product => { %>
  <article>
    <header>
      <h1><%= product.title %></h1>
    </header>
    <img
      src="https://source.unsplash.com/random/500x500/?<%= product.title %>"
      alt="A Book"
    />
    <h2>$19.99</h2>
    <p>A very interesting book about so many even more interesting things!</p>
    <button>Add to Cart</button>
  </article>
  <% }) %> <% } else { %>
  <h1>No product found.</h1>
  <% } %>
</main>

<%- include('partials/end') %>
