<%- include('../partials/head') %>

<%- include('../partials/navigation') %>

<main>
  <% if (products.size) { %>

  <h2>Cart</h2>

  <% products.forEach((quantity, product) => { %>

  <article>
    <h2><%= product.name %></h2>

    <img src=" <%= product.photoURL %> " alt="<%= product.name %>" />

    <h4> <%= `Price: ${product.displayPrice} Quantity: ${quantity}` %> </h4>

    <a href="/products/<%= product.id %>" role="button">Details</a>

    <footer><%- include('../partials/form-remove-from-cart.ejs', { product }) %></footer>

  </article>

  <% }) %>

  <% } else { %>

  <h2>No product found.</h2>

  <% } %>
</main>

<%- include('../partials/end') %>
